{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="feature">
        <h1>Про нас</h1>
        <p>О фонде программного обеспечения Django</p>
        <h4>Разработка Django поддерживается независимым фондом, созданным некоммерческой организацией.
            Как и большинство фондов с открытым исходным кодом, цель Django Software Foundation — продвигать и поддерживать
            свой проект с открытым исходным кодом: в нашем случае веб-фреймворк Django.</h4>
        <button class="btn btn-danger">Главная страница</button>
    </div>
{% endblock %}
