{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="feature">
        <h1>{{ title }}</h1>
        <p>Веб-фреймворк для перфекционистов</p>
        <button class="btn btn-warning">На страницу про нас</button>
        <h4 class="description">Django — это высокоуровневый веб-фреймворк Python, который способствует быстрой разработке.
            Дизайн, берет на себя большую часть хлопот веб-разработки, поэтому можно сосредоточиться на написании своего приложения, не изобретая велосипед.
            Это бесплатно и с открытым исходным кодом.</h4>


        {% for el in values %}
            <p>{{ el }}</p>
        {% endfor %}

    </div>
{% endblock %}