html, body {
	font-family: 'Arial';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: #444;
}


.nav-item{
    display:flex;
    list-style:none;
    margin:0;
    padding:10px 0;
    background-color: rgb(61, 95, 97);
    font-size:20px;
    justify-content:space-around;
    color: white;
}


.title{
    text-align:center;
    padding:30px;
}

.title a{
    color:white;
}

.content{
    font-size:28px;
}



.title a:hover {
  background-color: rgb(255, 233, 137);
  color:white;
}

.footer{
    text-align:center;
    margin:0;
    padding:30px 0;
    background-color: black;
    font-size:20px;
    color: white;
}